@font-face {
    font-family: 'brickregular';
    src: url('../fonts/brick-webfont.woff2') format('woff2'),
         url('../fonts/brick-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bebas_neueregular';
    src: url('../fonts/bebasneue-regular-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root{
    --font1: bebas_neueregular, sansserif;
    --font2: brickregular, sansserif;
    --blue: #497079;
    --white: #ffff;
    --black: #0000; 
    --Dgrey: #303030;
}

body {
    background-color: var(--blue);
    
}




h1 {
    font-family: var(--font2);
    display: flex;
    justify-content: center;
    font-size: 3em;   
}

section.head {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--Dgrey);
    margin: 0em 2em;
}

section.head h2 {
    font-family: var(--font1);
    font-size: 2em;
    margin: 0em;
    color: #3C717A;
}

section.head img:nth-of-type(1) {
    width: 4em;
    display: flex;
    position: relative;
    
}

section.pic {
    display: flex;
    justify-content: center;
}

section.pic img:nth-of-type(1) {
    height: 21em;
}

section.info {
    display: flex;
    flex-direction: column;
    background-color: var(--Dgrey);
    margin: 0em 2em;
}

section.info h3 {
    font-family: var(--font1);
    font-size: 2em;
    color: var(--white);
    margin: 0em;
}

section.info p {
    font-family: var(--font1);
    color: var(--white);
    font-size: 2em;
    margin: 0em;
}

section.buttons {
    display: flex;
    justify-content: space-around;
    padding:3em
}

section.buttons img:nth-of-type(2) {
    width: 2em;
}

ul {
    font-family: 'brick';
    font-size: 2em;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



section.agentSelect h2 {
    font-family: var(--font1);
    color: var(--white);
    display: flex;
    justify-content: center;
}

section.agentSelect ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

section.agentSelect li {
    list-style: none;
}

section.form {
    font-family: var(--font1);
    font-size: 3vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.5em; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
}

section.agent h3 {
    font-family: var(--font1);
}

section.agent button {
    font-family: var(--font1);
    font-size: 2em;
    text-align: center;
    color: var(--white);
    background-color: var(--Dgrey);
    border: none;
    padding: 5em, 6em;
    border-radius: 2em;


}